<div id="<%= dom_id ad %>">
  <p>
    <strong>Owner:</strong>
    <%= ad.owner %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ad.priority %>
  </p>

  <p>
    <strong>Link to ad:</strong>
    <%= ad.link_to_ad %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= ad.views %>
  </p>

  <p>
    <strong>App appearance place:</strong>
    <%= ad.app_appearance_place %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= ad.image %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= ad.caption %>
  </p>

  <p>
    <strong>Duration in days:</strong>
    <%= ad.duration_in_days %>
  </p>

  <p>
    <strong>Is expired:</strong>
    <%= ad.is_expired %>
  </p>

</div>
