<div id="<%= dom_id message %>">
  <p>
    <strong>Chat:</strong>
    <%= message.chat_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= message.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= message.receiver_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <strong>Seen:</strong>
    <%= message.seen %>
  </p>

  <p>
    <strong>Is multimedia:</strong>
    <%= message.is_multimedia %>
  </p>

  <p>
    <strong>Is video:</strong>
    <%= message.is_video %>
  </p>

  <p>
    <strong>Tumbnail:</strong>
    <%= message.tumbnail %>
  </p>

</div>
