<div id="<%= dom_id tier %>">
  <p>
    <strong>Name:</strong>
    <%= tier.name %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= tier.likes %>
  </p>

  <p>
    <strong>Max file size:</strong>
    <%= tier.max_file_size %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= tier.pets %>
  </p>

  <p>
    <strong>Ads:</strong>
    <%= tier.ads %>
  </p>

  <p>
    <strong>Has unlimited likes:</strong>
    <%= tier.has_unlimited_likes %>
  </p>

</div>
