<div id="<%= dom_id ad_view %>">
  <p>
    <strong>Is liked:</strong>
    <%= ad_view.is_liked %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= ad_view.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= ad_view.latitude %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= ad_view.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= ad_view.city %>
  </p>

  <p>
    <strong>Ad:</strong>
    <%= ad_view.ad_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ad_view.user_id %>
  </p>

</div>
