<%= form_with(model: quotum) do |form| %>
  <% if quotum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quotum.errors.count, "error") %> prohibited this quotum from being saved:</h2>

      <ul>
        <% quotum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :subscription_id, style: "display: block" %>
    <%= form.number_field :subscription_id %>
  </div>

  <div>
    <%= form.label :likes, style: "display: block" %>
    <%= form.number_field :likes %>
  </div>

  <div>
    <%= form.label :has_unlimited_likes, style: "display: block" %>
    <%= form.check_box :has_unlimited_likes %>
  </div>

  <div>
    <%= form.label :likes_updated, style: "display: block" %>
    <%= form.check_box :likes_updated %>
  </div>

  <div>
    <%= form.label :first_like_date, style: "display: block" %>
    <%= form.datetime_field :first_like_date %>
  </div>

  <div>
    <%= form.label :max_file_size, style: "display: block" %>
    <%= form.number_field :max_file_size %>
  </div>

  <div>
    <%= form.label :pets, style: "display: block" %>
    <%= form.number_field :pets %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
