<div id="<%= dom_id quotum %>">
  <p>
    <strong>User:</strong>
    <%= quotum.user_id %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= quotum.subscription_id %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= quotum.likes %>
  </p>

  <p>
    <strong>Has unlimited likes:</strong>
    <%= quotum.has_unlimited_likes %>
  </p>

  <p>
    <strong>Likes updated:</strong>
    <%= quotum.likes_updated %>
  </p>

  <p>
    <strong>First like date:</strong>
    <%= quotum.first_like_date %>
  </p>

  <p>
    <strong>Max file size:</strong>
    <%= quotum.max_file_size %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= quotum.pets %>
  </p>

</div>
