<div id="<%= dom_id like %>">
  <p>
    <strong>Liker animal:</strong>
    <%= like.liker_animal_id %>
  </p>

  <p>
    <strong>Liker user:</strong>
    <%= like.liker_user_id %>
  </p>

  <p>
    <strong>Liked animal:</strong>
    <%= like.liked_animal_id %>
  </p>

  <p>
    <strong>Liked user:</strong>
    <%= like.liked_user_id %>
  </p>

  <p>
    <strong>Is liked back:</strong>
    <%= like.is_liked_back %>
  </p>

</div>
