<div id="<%= dom_id animal %>">
  <p>
    <strong>User:</strong>
    <%= animal.user_id %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= animal.breed_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= animal.gender %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= animal.bio %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= animal.dob %>
  </p>

  <p>
    <strong>Vaccinated:</strong>
    <%= animal.vaccinated %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= animal.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= animal.latitude %>
  </p>

</div>
