<div id="<%= dom_id user_report %>">
  <p>
    <strong>User:</strong>
    <%= user_report.user_id %>
  </p>

  <p>
    <strong>Reported:</strong>
    <%= user_report.reported_id %>
  </p>

  <p>
    <strong>Reported type:</strong>
    <%= user_report.reported_type %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= user_report.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= user_report.image %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= user_report.read %>
  </p>

</div>
