<div id="<%= dom_id user_notification %>">
  <p>
    <strong>User:</strong>
    <%= user_notification.user_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= user_notification.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= user_notification.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= user_notification.title %>
  </p>

  <p>
    <strong>Redirect to:</strong>
    <%= user_notification.redirect_to %>
  </p>

  <p>
    <strong>Redirect to:</strong>
    <%= user_notification.redirect_to_id %>
  </p>

</div>
