<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Tier:</strong>
    <%= subscription.tier_id %>
  </p>

  <p>
    <strong>Has unlimited likes:</strong>
    <%= subscription.has_unlimited_likes %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= subscription.likes %>
  </p>

  <p>
    <strong>Max file size:</strong>
    <%= subscription.max_file_size %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= subscription.pets %>
  </p>

  <p>
    <strong>Ads:</strong>
    <%= subscription.ads %>
  </p>

</div>
