<div id="<%= dom_id transaction %>">
  <p>
    <strong>Body:</strong>
    <%= transaction.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Tier:</strong>
    <%= transaction.tier_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Service transaction:</strong>
    <%= transaction.service_transaction_id %>
  </p>

</div>
